@using Dominio
@{
    ViewBag.Title = "ListarActividades";
}

<h2>Listar Actividades</h2>

@if (ViewBag.m != null)
{
    <p>@ViewBag.m</p>
}

@if (ViewBag.res != null)
{
    if (ViewBag.cant == 0)
    {
        <p>No se encuentran registros en base a la busqueda</p>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>
                    Actividad
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Hora
                </th>
            </tr>
            @foreach (RegistroActividad item in ViewBag.res)
            {
                <tr>
                    <th>
                        @item.Nombre
                    </th>
                    <th>
                        @item.Fecha.ToString("yyyy-MM-dd")
                    </th>
                    <th>
                        @item.Hora
                    </th>

                </tr>
            }
        </table>
    }
}
