
@{
    ViewBag.Title = "ExportarArchivos";
}

<h2>ExportarArchivos</h2>

<form action="/ExportarArchivos/ExportarArchivos" method="get">
    <input type="submit" value="Descargar Tablas" />
</form>
<p>@ViewBag.res</p>