
@{
    ViewBag.Title = "ImportarActividades";
}

<h2>ImportarActividades</h2>
<form action="/ImportarActividades/ImportarActividades" method="get">
<input type="submit" value="Cargar actividades" />
</form>
<p>@ViewBag.res</p>
