
@{
    ViewBag.Title = "IngresarActividad";
}

<h2>IngresarActividad</h2>

@if (ViewBag.res)
{
    <p>Se registro la actividad</p>
}
else
{
    <p>No se pudo registrar la actividad</p>
}

<a href="/Socio/ListarSocios">Volver a todos los socios</a>