@{
    ViewBag.Title = "ListaHorariosDisponibles";
}

<h2>ListaHorariosDisponibles</h2>
<p>@ViewBag.msg</p>
<table class="table table-striped">
    <tr>
        <th>Id Actividad</th>
        <th>Nombre Actividad</th>
        <th>Hora comienzo</th>
        <th>Ingresar</th>
    </tr>

    @foreach (var item in ViewBag.res)
    {
     <tr>
        <td>@item.Id</td> 
        <td>@item.Actividad</td>
        <td>@item.Hora</td>
        <td><form action="/RegistroActividad/IngresarActividad?cedula=@ViewBag.socio&actividad=@item.Actividad&hora=@item.Hora&id=@item.Id" method="post">
            <input  class="btn btn-primary" type="submit" value="Ingresar Actividad" />
            </form>
        </td>
     </tr>
    }
</table>